#nav {
  background-color: #1a2456;
  color: #ff8b68;
  text-transform: uppercase;
  margin: 1rem;
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  font-size: 0.9rem;
  z-index: 1;
}

#nav a {
  text-decoration: none;
  color: #ff8b68;
  padding: 1rem;
}

#nav div {
  display: inline-block;
  padding: 1rem;
}

#right_nav {
  margin-left: auto;
}
