.main {
  /* height: 200rem; */
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 0 6rem;
  margin-top: 3em;
}

.cards * {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}