header {
  display: flex;
  align-items: center;
}

img {
  height: 3.2rem;
}

#left {
  margin-left: auto;
}

ul li {
  display: inline-block;
  margin: 10px;
}

.right-nav {
  margin: 10px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
