#container {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  margin: 1rem 4.5rem;
}

.header img {
  height: 3.2rem;
}

#left {
  margin-left: auto;
}

.nav li {
  display: inline-block;
  margin: 10px;
}

.nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.right_nav {
  margin: 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.second_nav {
  background-color: #1e3932;
  height: 3rem;
  color: white;
}

.second_nav h4 {
  margin-left: 3.5rem;
  padding: 1rem;
}

.right_nav button {
  padding: 7px 15px;
  border: 1px solid black;
  border-radius: 30px;
  height: 2rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.sign_in {
  background-color: white;
}

.sign_in:hover {
  background-color: rgba(169, 169, 169, 0.1);
}

.join_now {
  background-color: black;
  color: white;
}

.join_now:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
