nav {
  /* margin: 1rem 3rem; */
}

#container {
  display: flex;
  justify-content: space-evenly;
}

#container * {
  margin: 10px;
  list-style: none;
}

#container img {
  width: 3.5rem;
}

#left {
  margin-left: auto;
}
