/* nav {
  margin: 1rem 3rem;
} */

#container {
  height: 10rem;
  display: flex;
}

#container * {
  margin: 10px;
  list-style: none;
}

#container img {
  height: 3.5rem;
}

#left {
  margin-left: auto;
}
