.tabbedcontent {
  background-color: #d4e9e2;
  width: 100%;
  justify-content: center;
  text-align: start;
  
}

.tabbedcontent img {
  height: 13rem;
  margin-right: 3rem;
}

.tabbedcontent p {
  width: 20rem;
  text-align: start;
}

.tabbedcontent h2 {
  width: 22rem;
}