.tabbedcontent {
  background-color: #d4e9e2;
  width: 100%;
  justify-content: center;
  text-align: start;
  display: flex;
  padding: 5rem 0;
}

.tabbedcontent img {
  height: 15rem;
  margin-right: 3rem;
}

.tabbedcontent p {
  width: 20rem;
  text-align: start;
}

.tabbedcontent h2 {
  width: 22rem;
}