.tabbed {
  background-color: #f1f8f6;
  text-align: center;
}

.topTabbed > h2 {
  padding: 3rem 0;
  font-size: 1.75rem;
}

.topTabbed {
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.349);
  /* padding-bottom: 2rem; */
  margin-bottom: 3px;
}

#nav {
  display: inline-flex;
  padding: 0 0 2rem 0;
  margin: 0;
  cursor: pointer;
}

#nav > div {
  width: 10rem;
  font-size: 1.5rem;
}

#nav a {
  text-decoration: none;
  color: black;
  padding: 0 2rem;
  font-size: 1.5rem;
  /* margin: 0 2rem; */
}

#star {
  color: brown;
  font-size: 1.25rem;
}

.under {
  display: block;
  height: 0.4rem;
  background-color: #008248;
  margin: 2rem 0rem 0 2rem;
  width: 8rem;
}
